@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&family=Mooli&family=Philosopher&family=Satisfy&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
}
:root {
  /* Define a few values for general use */
  --pad: 0.5rem; /* generic padding */
  --bd: 3px; /* border size */
}

html {
  height: 100%;
  background: #090a0f radial-gradient(ellipse at top, #1b2735 0%, #090a0f 90%)
    no-repeat;
  display: grid;
  place-items: center;
}
body {
  margin: 0; /* Remove HTML default spacing */
  padding: calc(2 * var(--pad));
  font-size: calc(0.625vmin + 0.75rem); /* Responsive font */
  /*
  font-family: "Alice", serif;
  font-family: "Cinzel", serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Shadows Into Light", cursive;
  */
  font-family: "Mooli", sans-serif;
}
h1,
h2 {
  font-family: "Cinzel", serif;
  font-size: 250%;
  line-height: 1;
  margin-bottom: 0;
}
.center {
  text-align: center;
}
.text-lg {
  font-size: 125%;
}
.subtle {
  opacity: 0.6;
}
a,
button {
  cursor: pointer;
}
.App {
  max-width: 1280px;
  text-align: center;
}
.name_field {
  font-size: 15pt;
}
.tagline {
  color: #aaa;
}
