@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&family=Mooli&family=Philosopher&family=Satisfy&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
}
:root {
  /* Define a few values for general use */
  --pad: 0.5rem; /* generic padding */
  --bd: 3px; /* border size */
}

html {
  height: 100%;
  background: #090a0f radial-gradient(ellipse at top, #1b2735 0%, #090a0f 90%)
    no-repeat;
  /* background: url("https://i.imgur.com/BKruPI8.png") 50% 50% no-repeat; */
  color: #cdcdcd;
  display: grid;
  place-items: center;
}
body {
  background-blend-mode: overlay;
  margin: 0; /* Remove HTML default spacing */
  padding: calc(2 * var(--pad));
  font-size: calc(0.625vmin + 0.75rem); /* Responsive font */
  /*
  font-family: "Alice", serif;
  font-family: "Cinzel", serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Shadows Into Light", cursive;
  */
  font-family: "Mooli", sans-serif;
}
h1,
h2 {
  color: #eee;
  font-family: "Cinzel", serif;
  font-size: 250%;
  line-height: 1;
  margin-bottom: 0;
}
.logo {
  font-family: "Alice", serif;
  font-size: 200%;
}
.tagline {
  color: #aaa;
  font-family: "Satisfy", cursive;
  font-size: 100%;
  padding-bottom: 20px;
}
.center {
  text-align: center;
}
.text-lg {
  font-size: 125%;
}
.subtle {
  opacity: 0.6;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:link {
  color: #68a9ea;
}
a:visited {
  color: #dd7575;
}
footer {
  font-size: 85%;
  margin-top: 20vh;
}
.App {
  max-width: 1280px;
  text-align: center;
}
.name_field {
  font-size: 15pt;
}
.tagline {
  color: #aaa;
}
.plan-board {
  width: 80vw;
  text-align: left;
}
.plan-board li {
  padding-bottom: 20px;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
}
.overlay-modal {
  margin: auto auto;
  display: block;
  overflow: auto;
  width: 60vh;
  height: 60vh;
}
.version {
  font-size: 50%;
  color: rgba(220, 220, 220, 0.5);
}
.hide,
.print {
  display: none;
}
@media print {
  .logo.hide,
  .print {
    display: inline-block;
  }
}
